<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Glory+Hallelujah|Indie+Flower|Josefin+Sans|Lobster|Molle:400i|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>api-anetta</h1>
          <br><br>
          <h4>
            <a class="api" href="/api">Read My API Documentation</a>
            <a class="git" href="https://github.com/aapiane09">Look at my Github Repo</a>
          </h4>
          <br>
          <hr style="clear: both;">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" id="profile">
        <style id="handlebars-profile" type="text/x-handlebars-template">
          <img src="{{githubProfilePic}}" alt="me">
          <ul>
            <li>{{name}}</li>
            <li>{{email}}</li>
            <li>{{githubUsername}}</li>
            <li>{{currentCity}}</li>
            <li>{{languages}}</li>
          </ul>
          </style>
        </div>
        <div class="col-md-6" id="api-info">
          <button class="btn btn-primary games" type="button" name="games">Games</button>
          <button class="btn btn-primary movies" type="button" name="movies">Movies</button>
          <button class="btn btn-primary music" type="button" name="music">Music</button>
          <button class="btn btn-primary tv" type="button" name="televison">TV Shows</button>
          <button class="btn btn-primary places" type="button" name="places">Places</button>
          <button class="btn btn-primary foods" type="button" name="foods">Foods</button>
          <button class="btn btn-success suggest" type="button" name="suggestion">Suggestions</button>
        </div>
      </div>
    </div>
  </body>
</html>
